homework/.ipynb_checkpoints/*
homework/Day_014_correlation_example.ipynb
homework/Day_015-supplementary_correlation_and_plot_with_different_range.ipynb
homework/Day_016_EDA_KDEplots.ipynb
homework/Day_017_discretizing.ipynb
homework/Day_019_EDA_subplots.ipynb
homework/Day_020_EDA_heatmap.ipynb
homework/Day_021_first_model.ipynb
homework/Day_022_Introduction_of_Feature Engineering.ipynb
homework/Day_023_Reduce_Skewness.ipynb
homework/Day_024_LabelEncoder_and_OneHotEncoder.ipynb
homework/Day_025_Mean_Encoder.ipynb
homework/Day_026_CountEncoder_and_FeatureHash.ipynb
homework/Day_026_CountEncoder_and_FeatureHash_Ans.ipynb
homework/Day_027_DayTime_Features.ipynb
homework/Day_027_DayTime_Features_Ans.ipynb
homework/Day_028_Feature_Combination.ipynb
homework/Day_029_GroupBy_Encoder.ipynb
homework/Day_029_GroupBy_Encoder_Ans.ipynb
homework/Day_030_Feature_Selection.ipynb
homework/Day_031_Feature_Importance.ipynb
homework/Day_032_Leaf_Encoding.ipynb
homework/Day_034_Ans.ipynb
homework/Day_034_train_test_split.ipynb
homework/Day_036_evaluation_metrics.ipynb
homework/Day_037_Ans.ipynb
homework/Day_038_regression_model.ipynb
homework/Day_039_Ans.ipynb
homework/Day_040_Ans.ipynb
homework/Day_040_lasso_ridge_regression.ipynb
homework/Day_041_Ans.ipynb
homework/Day_042_Ans.ipynb
homework/Day_042_decision_tree.ipynb
homework/Day_043_Ans.ipynb
homework/Day_044_Ans.ipynb
homework/Day_044_random_forest.ipynb
homework/Day_046_gradient_boosting_machine.ipynb
homework/Day_047_Ans.ipynb
homework/Day_047_hyper_parameter_tunning.ipynb
homework/Day_048/.ipynb_checkpoints/Day_048_HW-checkpoint.ipynb
homework/Day_048/.ipynb_checkpoints/Imitation_20200522-checkpoint.ipynb
homework/Day_048/data/test.csv
homework/Day_048/data/train.csv
homework/Day_048/data/trainLabels.csv
homework/Day_048/Day_048.jpeg
homework/Day_048/Day_048.jpg
homework/Day_048/Day_048_HW.ipynb
homework/Day_048/submission_no_normalization.csv
homework/Day_048/Submission_rf.csv
homework/Day_048/submission_with_scaling.csv
homework/Day_049_Blending.ipynb
homework/Day_050_Stacking.ipynb
homework/Day_050_Stacking_Ans.ipynb
homework/Day_050_Stacking_HW.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/Discussion_code_revised-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EnronDataCheck-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EnronModel-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EronModel1_correct_na_outlier-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EronModel4_correct_na_outlier-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EronModel5_correct_na_outlier-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EronModel6_correct_na_outlier-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/Mid_exam_coding-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/Mid_exam_coding-Copy1-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/Mid_exam_coding-Copy2-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/TrainingSet_EDA-checkpoint.ipynb
homework/Day_051_MidTerm/Discussion_code_revised.ipynb
homework/Day_051_MidTerm/enron61702insiderpay.pdf
homework/Day_051_MidTerm/EnronDataCheck.ipynb
homework/Day_051_MidTerm/EnronModel.ipynb
homework/Day_051_MidTerm/EronModel1_correct_na_outlier.ipynb
homework/Day_051_MidTerm/EronModel4_correct_na_outlier.ipynb
homework/Day_051_MidTerm/EronModel5_correct_na_outlier.ipynb
homework/Day_051_MidTerm/EronModel6_correct_na_outlier.ipynb
homework/Day_051_MidTerm/Mid_exam_coding-Copy1.ipynb
homework/Day_051_MidTerm/Mid_exam_coding-Copy2.ipynb
homework/Day_051_MidTerm/Mid_exam_coding.ipynb
homework/Day_051_MidTerm/ml100.zip
homework/Day_051_MidTerm/sample_submission.csv
homework/Day_051_MidTerm/submission.csv
homework/Day_051_MidTerm/submission_20200506.csv
homework/Day_051_MidTerm/submission_20200506_004219.csv
homework/Day_051_MidTerm/submission_20200510_174519.csv
homework/Day_051_MidTerm/submission_20200510_174607.csv
homework/Day_051_MidTerm/submission_20200510_222521.csv
homework/Day_051_MidTerm/submission_20200510_224752.csv
homework/Day_051_MidTerm/submission_20200510_234552.csv
homework/Day_051_MidTerm/test_features.csv
homework/Day_051_MidTerm/train_data.csv
homework/Day_051_MidTerm/train_data_eda.xlsx
homework/Day_051_MidTerm/TrainingSet_EDA.ipynb
mid-term exam/enron61702insiderpay.pdf
mid-term exam/Mid_exam_coding.ipynb
mid-term exam/ml100.zip
mid-term exam/sample_submission.csv
mid-term exam/test_features.csv
mid-term exam/train_data - EDA.xlsx
mid-term exam/train_data.csv
mid-term exam/train_data_correct.csv
homework/Day_050_Stacking_HW.ipynb
homework/Day_050_Stacking_HW.ipynb
homework/Day_048/Day_048.jpeg
homework/Day_055_kmean_sample.ipynb
homework/.ipynb_checkpoints/Day_055_kmean_sample-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_055_HW-checkpoint.ipynb
homework/Day_055_HW.ipynb
homework/.ipynb_checkpoints/Day_056_kmean-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_056_kmean_HW-checkpoint.ipynb
homework/Day_056_kmean.ipynb
homework/.ipynb_checkpoints/Day_057_hierarchical_clustering_sample-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_057_HW-checkpoint.ipynb
homework/Day_057_hierarchical_clustering_sample.ipynb
homework/.ipynb_checkpoints/Day_058_hierarchical_clustering-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_058_hierarchical_clustering_HW-checkpoint.ipynb
homework/Day_058_hierarchical_clustering.ipynb
homework/Day_059_PCA_sample.ipynb
homework/.ipynb_checkpoints/Day_059_PCA_sample-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_059_HW-checkpoint.ipynb
homework/Day_060_PCA.ipynb
homework/Day_061_tsne_sample.ipynb
homework/Day_062_tsne.ipynb
homework/.ipynb_checkpoints/Day_001_example_of_metrics-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_001_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_002_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_004_first_EDA-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_004_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_005-1_build_dataframe_from_scratch-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_005-1_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_005-2_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_005-2_read_and_write_files-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_005-3_read_and_write_files-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_006_column_data_type-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_006_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_007_Feature_Types-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_007_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_008_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_009_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_009_outliers_detection-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_010_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_010_Outliers-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_011_handle_outliers-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_011_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_012_Fill_NaN_and_Scalers-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_012_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_012_HW_TEST-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_013_dataFrame_operation-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_013_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_014_correlation_example-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_014_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_015-supplementary_correlation_and_plot_with_different_range-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_015_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_016_EDA_KDEplots-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_016_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_017_discretizing-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_017_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_018_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_019_EDA_subplots-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_019_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_020_EDA_heatmap-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_020_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_021_first_model-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_021_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_022_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_022_Introduction_of_Feature Engineering-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_023_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_023_Reduce_Skewness-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_024_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_024_LabelEncoder_and_OneHotEncoder-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_025_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_025_Mean_Encoder-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_026_CountEncoder_and_FeatureHash-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_026_CountEncoder_and_FeatureHash_Ans-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_026_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_027_DayTime_Features-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_027_DayTime_Features_Ans-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_027_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_028_Feature_Combination-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_028_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_029_GroupBy_Encoder-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_029_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_030_Feature_Selection-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_030_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_031_Feature_Importance-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_031_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_032_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_032_Leaf_Encoding-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_033_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_034_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_034_train_test_split-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_035_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_036_evaluation_metrics-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_036_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_037_Ans-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_037_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_038_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_038_regression_model-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_039_Ans-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_039_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_040_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_040_lasso_ridge_regression-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_041_Ans-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_041_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_042_decision_tree-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_042_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_043_Ans-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_043_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_044_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_046_gradient_boosting_machine-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_046_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_047_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_047_hyper_parameter_tunning-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_049_Blending-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_049_Blending_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_050_Stacking-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_050_Stacking_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_060_PCA-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_060_PCA_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_061_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_061_tsne_sample-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_062_tsne-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_062_tsne_HW-checkpoint.ipynb
homework/data/application_test.csv
homework/data/application_train.csv
homework/data/bureau.csv
homework/data/bureau_balance.csv
homework/data/credit_card_balance.csv
homework/data/example.txt
homework/data/home-credit-default-risk.zip
homework/data/home_credit_predictions.csv
homework/data/HomeCredit_columns_description.csv
homework/data/house_baseline.csv
homework/data/house_blending.csv
homework/data/house_gdbt.csv
homework/data/house_linear.csv
homework/data/house_rf.csv
homework/data/house_test.csv.gz
homework/data/house_train.csv.gz
homework/data/installments_payments.csv
homework/data/POS_CASH_balance.csv
homework/data/previous_application.csv
homework/data/sample_submission.csv
homework/data/taxi_data1.csv
homework/data/taxi_data2.csv
homework/data/titanic_baseline.csv
homework/data/titanic_blending.csv
homework/data/titanic_gdbt.csv
homework/data/titanic_lr.csv
homework/data/titanic_rf.csv
homework/data/titanic_stacking.csv
homework/data/titanic_stacking_2.csv
homework/data/titanic_test.csv
homework/data/titanic_train.csv
homework/Day_001_example_of_metrics.ipynb
homework/Day_004_first_EDA.ipynb
homework/Day_005-1_build_dataframe_from_scratch.ipynb
homework/Day_005-2_read_and_write_files.ipynb
homework/Day_005-3_read_and_write_files.ipynb
homework/Day_006_column_data_type.ipynb
homework/Day_007_Feature_Types.ipynb
homework/Day_009_outliers_detection.ipynb
homework/Day_010_Outliers.ipynb
homework/Day_011_handle_outliers.ipynb
homework/Day_012_Fill_NaN_and_Scalers.ipynb
homework/Day_012_HW_TEST.ipynb
homework/Day_013_dataFrame_operation.ipynb
homework/.ipynb_checkpoints/Day_063_HW-checkpoint.ipynb
homework/TF_result1.jpg
homework/TF_result2.jpg
homework/Day67-Keras_Dataset_Introduce.ipynb
homework/Day68-Keras_Sequential_Model.ipynb
homework/Day75-Back_Propagation_Advanced.ipynb
homework/Day74-Gradient Descent_數學式說明.ipynb
homework/Day74-Gradient Descent_Math.ipynb
homework/Day73_Gradient_Descent_HW.ipynb
homework/Day73_Gradient Descent.ipynb
homework/Day72-Activation_function.ipynb
homework/Day71-使用損失函數.ipynb
homework/Day70-Keras_Mnist_MLP_Sample.ipynb
homework/Day69-keras_Module_API.ipynb
homework/Day74-Gradient_Descent_Ans.ipynb
