homework/Day_014_correlation_example.ipynb
homework/Day_015-supplementary_correlation_and_plot_with_different_range.ipynb
homework/Day_016_EDA_KDEplots.ipynb
homework/Day_017_discretizing.ipynb
homework/Day_019_EDA_subplots.ipynb
homework/Day_020_EDA_heatmap.ipynb
homework/Day_021_first_model.ipynb
homework/Day_022_Introduction_of_Feature Engineering.ipynb
homework/Day_023_Reduce_Skewness.ipynb
homework/Day_024_LabelEncoder_and_OneHotEncoder.ipynb
homework/Day_025_Mean_Encoder.ipynb
homework/Day_026_CountEncoder_and_FeatureHash.ipynb
homework/Day_026_CountEncoder_and_FeatureHash_Ans.ipynb
homework/Day_027_DayTime_Features.ipynb
homework/Day_027_DayTime_Features_Ans.ipynb
homework/Day_028_Feature_Combination.ipynb
homework/Day_029_GroupBy_Encoder.ipynb
homework/Day_029_GroupBy_Encoder_Ans.ipynb
homework/Day_030_Feature_Selection.ipynb
homework/Day_031_Feature_Importance.ipynb
homework/Day_032_Leaf_Encoding.ipynb
homework/Day_034_Ans.ipynb
homework/Day_034_train_test_split.ipynb
homework/Day_036_evaluation_metrics.ipynb
homework/Day_037_Ans.ipynb
homework/Day_038_regression_model.ipynb
homework/Day_039_Ans.ipynb
homework/Day_040_Ans.ipynb
homework/Day_040_lasso_ridge_regression.ipynb
homework/Day_041_Ans.ipynb
homework/Day_042_Ans.ipynb
homework/Day_042_decision_tree.ipynb
homework/Day_043_Ans.ipynb
homework/Day_044_Ans.ipynb
homework/Day_044_random_forest.ipynb
homework/Day_046_gradient_boosting_machine.ipynb
homework/Day_047_Ans.ipynb
homework/Day_047_hyper_parameter_tunning.ipynb
homework/Day_048/.ipynb_checkpoints/Day_048_HW-checkpoint.ipynb
homework/Day_048/.ipynb_checkpoints/Imitation_20200522-checkpoint.ipynb
homework/Day_048/data/test.csv
homework/Day_048/data/train.csv
homework/Day_048/data/trainLabels.csv
homework/Day_048/Day_048.jpeg
homework/Day_048/Day_048.jpg
homework/Day_048/Day_048_HW.ipynb
homework/Day_048/submission_no_normalization.csv
homework/Day_048/Submission_rf.csv
homework/Day_048/submission_with_scaling.csv
homework/Day_049_Blending.ipynb
homework/Day_050_Stacking.ipynb
homework/Day_050_Stacking_Ans.ipynb
homework/Day_050_Stacking_HW.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/Discussion_code_revised-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EnronDataCheck-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EnronModel-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EronModel1_correct_na_outlier-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EronModel4_correct_na_outlier-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EronModel5_correct_na_outlier-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/EronModel6_correct_na_outlier-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/Mid_exam_coding-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/Mid_exam_coding-Copy1-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/Mid_exam_coding-Copy2-checkpoint.ipynb
homework/Day_051_MidTerm/.ipynb_checkpoints/TrainingSet_EDA-checkpoint.ipynb
homework/Day_051_MidTerm/Discussion_code_revised.ipynb
homework/Day_051_MidTerm/enron61702insiderpay.pdf
homework/Day_051_MidTerm/EnronDataCheck.ipynb
homework/Day_051_MidTerm/EnronModel.ipynb
homework/Day_051_MidTerm/EronModel1_correct_na_outlier.ipynb
homework/Day_051_MidTerm/EronModel4_correct_na_outlier.ipynb
homework/Day_051_MidTerm/EronModel5_correct_na_outlier.ipynb
homework/Day_051_MidTerm/EronModel6_correct_na_outlier.ipynb
homework/Day_051_MidTerm/Mid_exam_coding-Copy1.ipynb
homework/Day_051_MidTerm/Mid_exam_coding-Copy2.ipynb
homework/Day_051_MidTerm/Mid_exam_coding.ipynb
homework/Day_051_MidTerm/ml100.zip
homework/Day_051_MidTerm/sample_submission.csv
homework/Day_051_MidTerm/submission.csv
homework/Day_051_MidTerm/submission_20200506.csv
homework/Day_051_MidTerm/submission_20200506_004219.csv
homework/Day_051_MidTerm/submission_20200510_174519.csv
homework/Day_051_MidTerm/submission_20200510_174607.csv
homework/Day_051_MidTerm/submission_20200510_222521.csv
homework/Day_051_MidTerm/submission_20200510_224752.csv
homework/Day_051_MidTerm/submission_20200510_234552.csv
homework/Day_051_MidTerm/test_features.csv
homework/Day_051_MidTerm/train_data.csv
homework/Day_051_MidTerm/train_data_eda.xlsx
homework/Day_051_MidTerm/TrainingSet_EDA.ipynb
mid-term exam/enron61702insiderpay.pdf
mid-term exam/Mid_exam_coding.ipynb
mid-term exam/ml100.zip
mid-term exam/sample_submission.csv
mid-term exam/test_features.csv
mid-term exam/train_data - EDA.xlsx
mid-term exam/train_data.csv
mid-term exam/train_data_correct.csv
homework/Day_050_Stacking_HW.ipynb
homework/Day_050_Stacking_HW.ipynb
homework/Day_048/Day_048.jpeg
homework/Day_055_kmean_sample.ipynb
homework/.ipynb_checkpoints/Day_055_kmean_sample-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_055_HW-checkpoint.ipynb
homework/Day_055_HW.ipynb
homework/.ipynb_checkpoints/Day_056_kmean-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_056_kmean_HW-checkpoint.ipynb
homework/Day_056_kmean.ipynb
homework/.ipynb_checkpoints/Day_057_hierarchical_clustering_sample-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_057_HW-checkpoint.ipynb
homework/Day_057_hierarchical_clustering_sample.ipynb
homework/.ipynb_checkpoints/Day_058_hierarchical_clustering-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_058_hierarchical_clustering_HW-checkpoint.ipynb
homework/Day_058_hierarchical_clustering.ipynb
homework/Day_059_PCA_sample.ipynb
homework/.ipynb_checkpoints/Day_059_PCA_sample-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_059_HW-checkpoint.ipynb
homework/Day_060_PCA.ipynb
homework/Day_061_tsne_sample.ipynb
homework/Day_062_tsne.ipynb